services:
  - type: web
    name: orkestral-server
    env: node
    plan: free
    region: oregon
    
    rootDir: .

    buildCommand: npm install && npx tsc -b

    startCommand: node apps/server/dist/server.js

    buildFilter:
      paths:
        - apps/server/**
        - packages/shared/**

    envVars:
      - key: NODE_VERSION
        value: 20
      - key: PORT
        value: 10000